@model PostViewModel

<div>
    <p class="text-info">Created: @Model.Created.ToString()</p>
    <h4 class="text-primary">@Model.Title</h4>
    <p class="text-body">@Model.Content</p>
    <hr/>
</div>

